/config.yml
/shopify/assets/lh-*
/shopify/assets/**.png
/shopify/assets/**.jpg
/shopify/assets/**.svg
/shopify/sections/layouthub*
/shopify/templates/page.layouthub*
/config.example.yml
**/config.yml
/node_modules
/dist
/mix-manifest.json
/shopify/config/settings_data.json
/shopify/assets/main.css
/shopify/assets/main.js
/shopify/snippets/hs-cart-bar-home-page.liquid
/shopify/snippets/hs-cart-drawer-subscriptions.liquid
/shopify/snippets/hs-cart-bar-home-page.liquid
/shopify/snippets/hs-cart-static-upsell.liquid
/shopify/assets/hs-sl-upsell.js
/shopify/assets/hs-sl-rewards.js
/shopify/assets/hs-sl-integrations.js
/shopify/assets/hs-sl-swiper.js
/shopify/assets/hs-sl-cart.js