{%- assign main_menu_v2 = linklists['main-menu-v2'] -%}

<div class="ExposedMenu" data-ros-33="variant" style="--display: flex;">
  <div class="ExposedMenu__ItemContainer">
    {%- for link in main_menu_v2.links -%}
      <a 
        class="ExposedMenu__Link{% if link.active %} -Active{% endif %}" 
        href="{{ link.url }}"
        >
        {{ link.title }}
      </a>
    {%- endfor -%}
  </div>
</div>
