<div class="featured-in{% if classes != blank %} {{ classes }}{% endif %}">
  <h2 class="featured-in__title">{{ 'products.page.featured_in_label' | t }}</h2>
  <ul class="featured-in__list">
    <li>
      <img src="//cdn.shopify.com/s/files/1/0518/8619/4876/files/elle-logo.png?v=1613575522" alt="Elle">
    </li>
    <li>
      <img src="//cdn.shopify.com/s/files/1/0518/8619/4876/files/vogue-logo.png?v=1613575522" alt="Vogue">
    </li>
    <li>
      <img src="//cdn.shopify.com/s/files/1/0518/8619/4876/files/bazaar-logo.png?v=1613575522" alt="Basar">
    </li>
  </ul>
</div>