{%- if settings.klevu_api_key != blank and settings.klevu_product_recs_snippet != blank -%}
<div class="product-recommendations-section">
{{ settings.klevu_product_recs_snippet }}
</div>
{%- endif -%}