<div class="product__quantity">

  <button class="quantity__minus" aria-hidden="true">
    {% render 'theme-symbols', icon: 'minus' %}
  </button>

  <input type="number" name="quantity" value="1" min="1" class="quantity__selector">

  <button class="quantity__plus" aria-hidden="true">
    {% render 'theme-symbols', icon: 'plus' %}
  </button>

</div>