	<div class="text-w-image__container" {{ block.shopify_attributes }}>
	
	<div class="text-w-image__image">
    {% unless block.settings.image == blank %}
			{% render 'lazy-image', image: block.settings.image alt: block.settings.title %}
    {% else %}
      <span class="onboarding-svg">
        {{ 'image' | placeholder_svg_tag }}
      </span>
    {% endunless %}
  </div>

	<div class="text-w-image__content">

		<h3 class="text-w-image__title h2">{{ block.settings.title | escape }}</h3>
		<div class="text-w-image__rte rte">{{ block.settings.body }}</div>

	</div>

</div>