{% render 'rich-text-content', 
  id: section.id,
  gutter_enabled: section.settings.gutter_enabled,
  image: section.settings.image,
  image_position: section.settings.image_position,
  image_height: section.settings.image_height,
  title: section.settings.title,
  body: section.settings.body,
  text_alignment: section.settings.text_alignment,
  text_size: section.settings.text_size,
  color_bg: section.settings.color_bg,
  color_text: section.settings.color_text
%}

{% schema %}
  {
    "name": "Rich text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      }, 
      {
        "type": "richtext",
        "id": "body",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p><p><a href=\"#\">Insert links as well</a></p>"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Heading size",
        "options": [
          {
            "value": "regular",
            "label": "Regular"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "huge",
            "label": "Extra large"
          }
        ],
        "default": "regular"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "options": [
          {
            "value": "align-right",
            "label": "Left"
          },
          {
            "value": "align-left",
            "label": "Right"
          }
        ],
        "default": "align-left"
      },
      {
        "type": "select",
        "id": "image_height",
        "label": "Image height",
        "options": [
          {
            "value": "50vh",
            "label": "Regular"
          },
          {
            "value": "75vh",
            "label": "Large"
          },
          {
            "value": "100vh",
            "label": "Full"
          }
        ],
        "default": "75vh"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Custom background color",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Custom text color",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "header",
        "content": "Gutter"
      },
      {
        "type": "checkbox",
        "id": "gutter_enabled",
        "label": "Enable inner content spacing",
        "info": "Only when using images"
      }
    ],
    "presets": [{
      "name": "Rich text",
      "category": "Text"
    }]
  }
{% endschema %}