<div class="page-content">
	{%- section 'login-forms' -%}
	{%- section 'login-free-benefits' -%}
	{%- section 'loyaltylion-custom-rewards-styles' -%}
	{%- section 'login-rewards' -%}
	{%- section 'loyaltylion-rules' -%}
	{%- section 'login-contact' -%}
</div>